* {
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}




/* shared style */
.width {
    max-width: 1440px;
    margin: 0px auto;
}
.flex {
    display: flex;
}
.bg {
    background: rgba(255, 144, 14, 0.1);
}
.dark-1 {
    color:rgba(19, 19, 19, 1);
}

.dark-2 {
    color:  rgba(66, 66, 66, 1);
}
.dark-3 {
    color: #727272;
}
.btn-1 {
    background-color: #FF900E;
    color:#FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    text-align: center;
}




/* navbar style */
.nav-container {
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.12rem;
}
.brand-name {
    font-weight: 700;
    font-size: 2.81rem;
}
/* banner styles */
.banner-text {
    max-width: 862px;
    margin: 0 auto;
    padding: 116px 0px 50px;
}
.banner-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 33px;
}
.btn-1-container {
    display: flex;
    justify-content: center;
}
.banner-image-container {
    padding-bottom: 45px;
}
.banner-img {
    width: 100%;
}
/* our features */
.our-features {
    margin: 85px auto 130px auto;
}
.our-features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features-info {
    max-width: 537px;
    margin-left: 73px;
    display: flex;
    align-items: center;
}
.our-features-title {
    font-size: 2.81rem;
    font-weight: 500;
    margin-bottom: 24px;
}
.style-1 {
    font-weight: 700;
}
.style-2 {
    font-weight: 700;
    color: #FF900E;
}
.our-features-description {
    font-size: 1rem;
    margin-bottom: 32px;
}























@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-items {
        flex-direction: column;
    }
    .nav-list {
        margin: 0px 0px 10px 0px;
    }
    /* our features */
    .our-features {
        flex-direction: column;
        align-items: center;
    }
    .our-features-info {
        margin-left: 10px;
        margin-top: 50px;
    }
    .our-features-images {
        grid-template-columns: repeat(1, 1fr);
    }
}